{% extends "templates/web.html" %}

{% block page_content %}
{% set available_shops = frappe.get_all("Shop", filters={"status": "Available"}, fields="*") %}
{% for shop in available_shops %}
  <div class="card mb-4">
    <img src="{{ shop.image }}" class="card-img-top" alt="{{ shop.shop_name }}">
    <div class="card-body">
      <h5 class="card-title">{{ shop.name1 }}</h5>
      <p class="card-text">{{ shop.number }}</p>
      <p class="card-text">{{ shop.airport }}</p>
      <p class="card-text">{{ shop.area }} sq. ft</p>
      <p class="card-text">Status: {{ shop.status }}</p>
    </div>
    <div class="card-footer">
      <a href="#" class="card-link">View Details</a>
    </div>
  </div>
{% endfor %}
{% endblock %}