<div>
	<div class="card text-white bg-info mb-3">
		<div class="card-body">
			<h5 class="card-title">{{ frappe.db.get_value('Airplane', doc.airplane, 'airline') }}</h5>
        	<p>
				{{ doc.source_airport_code }} → {{ doc.destination_airport_code }}<br>
        		{{ frappe.utils.format_date(doc.date_of_departure, "d MMMM, YYYY") }} | {{ doc.time_of_departure }} | {{ frappe.utils.format_duration(doc.duration) }}<br>
    		</p>
			<a class="btn btn-primary" href="{{ doc.route }}">View Flight</a>
		</div>
	</div>
</div>
