{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title }}</h1>
<h3>Flight Details</h3>
<ul>
    <li>
        Airline: {{ frappe.db.get_value('Airplane', doc.airplane, 'airline') }}
    </li>
    <li>
        {{ doc.source_airport_code }} → {{ doc.destination_airport_code }}
    </li>
    <li>
        {{ doc.date_of_departure }} | {{ doc.time_of_departure }}
    </li>
    <li>
        Duration: {{ frappe.utils.format_duration(doc.duration) }}
    </li>
</ul>
<div class="text-left mt-5">
    <a class="btn btn-primary" href="/ticket-booking-web-form/new?flight={{name}}"> Book Flight</a>
</div>
{% endblock %}

<!-- this is a sample default web page template -->